<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>


<body>
    <!-- header -->
    <!-- header top -->
    <header>
        <div class="header_top">
            <div class="logo">
                <p class="p-logo">YOUR LOGO</p>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">LOOKBOOK</a></li>
                    <li><a href="#">FEATURES</a></li>
                    <li><a href="#">PAGES</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </nav>

            <div class="icons">
                <ul class="icons_ul">
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="far fa-heart"></i></li>
                    <li><i class="fas fa-shopping-cart"></i></li>
                </ul>
            </div>

        </div>

        <!-- header main -->
        <div class="header_main">
            <div class="offer">
                <p class="new_trend">NEW TREND</p>
                <p class="collusion">COLLUSION</p>
                <p class="exclusive">An exclusive selection of this season's trends.</p>
                <!-- offer buttons -->
                <div class="offer_btn">
                    <div class="discover_btn offer_buttons"><a href="#">DISCOVER</a></div>
                    <div class="shop_now_btn offer_buttons"><a href="#">SHOP NOW</a></div>
                </div>

            </div>

        </div>
    </header>
    <!-- catagory sectoin -->
    <section>
        <div class="catagory_section">
            <img src="./assets/img/catagory1.png" alt="catagory photo" class="catagory1">
            <div class="second_photo_catagory catagory2">

            </div>

            <div class="girls_catagory">
                <img src="./assets/img/catagory3.png" alt="">
                <img src="./assets/img/catagory4.png" alt="" class="catagory4">
            </div>
            <!-- catagory btn -->
            <div class="catagory_name">
                <a href="#" class="catagory_link">CATAGORY NAME</a>
            </div>
        </div>
    </section>
    <!-- WOMEN'S FASHION -->
    <section>
        <div class="womens_fashion">
            <div class="logo_description">
                <p class="logo_womens_fashion">WOMEN’S FASHION</p>
                <p class="caption_womens_fashion">Shop our new arrivals from established brands</p>
            </div>

            <!-- offer women's fashion -->
            <div class="content_womens_fashion">
                <!-- 1 -->
                <div class="wfasion_offer1">
                    <img src="./assets/img/wfashion1.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                        <!-- <p class="count_price"></p> -->
                    </div>
                </div>
                <!-- 2 -->
                <div class="wfasion_offer1">
                    <img src="./assets/img/wfashion2.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                    </div>
                </div>
                <!-- 3 -->
                <div class="wfasion_offer1">
                    <img src="./assets/img/wfashion3.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                    </div>

                </div>
                <!-- 4                 -->
                <div class="wfasion_offer1">
                    <img src="./assets/img/wfashion4.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MEN'S FASHION -->

    <section>
        <div class="mens_fashion">
            <div class="logo_description">
                <p class="logo_mens_fashion">MEN’S FASHION</p>
                <p class="caption_mens_fashion">Shop our new arrivals from established brands</p>
            </div>

            <!-- offer en's fashion -->
            <div class="content_mens_fashion">
                <!-- 1 -->
                <div class="mfasion_offer1">
                    <img src="./assets/img/mfashion1.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                        <!-- <p class="count_price"></p> -->
                    </div>
                </div>
                <!-- 2 -->
                <div class="mfasion_offer2">
                    <img src="./assets/img/mfashion2.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                    </div>
                </div>
                <!-- 3 -->
                <div class="mfasion_offer3">
                    <img src="./assets/img/mfashion3.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                    </div>

                </div>
                <!-- 4                 -->
                <div class="mfasion_offer4">
                    <img src="./assets/img/mfashion4.png" alt="photo">
                    <p class="igure">IGURE</p>
                    <p class="name_offer">GREEN MUSCLE FIT POLO SHIRT</p>
                    <div class="count">
                        <a href="#" class="price">$229.00</a>
                        <a href="#" class="count_price">$129.00</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- avone styles -->

    <section>
        <div class="avone_styles">
            <div class="avone_description">
                <p class="logo_section">AVONE STYLES</p>
                <p class="choose_color">Choose Your Favorite Color</p>
            </div>

            <div class="avone_images">
                <img src="./assets/img/avone1.png" alt="photo" class="avone1">
                <div class="show_womens_dress_content">
                    <img src="./assets/img/avone2.png" alt="photo" class="avone2">
                    <div class="btn_dress"><a href="#">SHOW WOMEN’S DRESS</a></div>
                    <div class="white_background"></div>
                    <img src="./assets/img/avone3.png" alt="photo" class="avone3">
                </div>

            </div>
        </div>
    </section>

    <!-- TACHEN -->

    <section>
        <div class="tachen">
            <div class="tachen_offer">
                <p class="own_the_day">OWN THE DAY</p>
                <p class="tachen19">TACHEN 19</p>
                <div class="view_collection">SHOP COLLECTION</div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->

    <footer>
        <div class="footer">
            <div class="your_logo">
                <div class="logotext">
                    <p class="logotype">YOUR LOGO</p>
                    <p class="logo_caption">We earned a reputation of being good at what we do.
                        Let us take your online shop to new dimension in
                        success!</p>
                </div>
                <!-- contacts -->
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="adress">Comilla, Bangladesh 3500</p>
                </div>

                <p class="email">kawsarahmed0210@gmail.com</p>
                <p class="phone">01647470457</p>
                <!-- social networks -->
                <div class="social_networks">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest"></i>

                </div>
            </div>
            <!-- aside -->
            <div class="aside">
                <!-- resive_email -->
                <div class="resive_email">
                    <p class="recive_email_updates">RECIVE EMAIL UPDATES</p>
                    <form action="#">
                        <input type="text" class="input_email" placeholder="Your Email Address">
                    </form>
                </div>
                <!-- menu's -->
                <div class="menus">
                    <!-- shop menu -->
                    <div class="shop_menu">
                        <p>SHOP</p>
                        <ul>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Collection</a></li>
                            <li><a href="#">Outlet</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </div>

                    <!-- help menu -->
                    <div class="help_menu">
                        <p>HELP</p>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Privecy Policy</a></li>
                            <li><a href="#">Tearms and conditions</a></li>
                            <li><a href="#">Return and Exchanges</a></li>
                        </ul>
                    </div>

                    <!-- about menu -->
                    <div class="about_menu">
                        <p>ABOUT</p>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Privecy Policy</a></li>
                            <li><a href="#">Tearms and conditions</a></li>
                            <li><a href="#">Return and Exchanges</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- COPYRIGHT -->

        <div class="copyright">
            <p>Copyright &copy; 2020 . Your company name All rights reserved</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/f5e7867931.js" crossorigin="anonymous"></script>
</body>

</html>